/* mobile device */
@media screen and (max-width:500px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-menubtn-container {
        display: none;
    }

    .banner-main {
        flex-direction: column;
    }

    .banner-childs {
        width: 100%;
    }

    .our-team-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .habits-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;

    }

    .section-title {
        max-width: 350px;
        text-align: center;

    }

    .footer-content {

        grid-template-columns: repeat(1, 1fr);
        max-width: 350px;
        gap: 10px;
    }

    .banner-section2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .banner-section2-childs {
        width: 100%;

    }
}