/* mobile device */
@media screen and (max-width:500px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-menubtn-container {
        display: none;
    }

    .banner-main {
        flex-direction: column;
    }

    .banner-childs {
        width: 100%;
    }

    .our-team-container {
        grid-template-columns: repeat(1, 1fr);

    }
}