* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #111111; */
}

.primary-btn-color {
    color: #E6533C;
}

.text-light-gray {
    /* color: #FFFFFF80; */
}

/* navbar css start */
.navbar-wrapper {
    /* background-color: #111111; */
}

.navbar-main {
    border: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid green;
}

.nav-menu-btn {
    margin-left: 10px;
}

.nav-hamburger-menu {
    display: none;
}

/* navbar css end */

/* banner css start */
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.banner-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.banner-childs {
    width: 50%;
    position: relative;
}

.banner-childs img {
    width: 50%;
    border-radius: 10px;
}

.banner-btn {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

.video-tag {
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
    width: max-content;
    padding: 15px 40px;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    border-radius: 10px;
}

.tag-1 {
    top: 20%;
    left: 60%;

}

.tag-2 {
    top: 70%;
    right: 60%;
}

/* banner css end */

/* change your habit section css start */
.section-title {
    text-align: center;
    margin: 50px auto;
}

.habits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-items: center;
}

.habit-card {
    gap: 10px;
    width: 240px;
    height: 270px;
    /* background-color: black; */
}

.habit-card img {
    border-radius: 50%;
}

/* change your habit section css end */

/* banner section_2 start */
.banner-section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: #222222d5;
}

.banner-section2-childs {
    width: 45%;

}

.banner-section2-childs img {
    width: 100%;
    border-radius: 10px;
}

.banner-btn2 {
    padding: 10px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

/* banner section_2 end */

/* meet our team section css start */
.team-content-heading {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.our-team-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(185, 185, 185);
    border-radius: 10px;
}

.card {
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.card-info {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
}

.card img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

/* meet our team section css end */

/* footer section css start */
.footer-section {
    max-width: 1000px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    /* border: 2px solid green; */
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
    gap: 10px;
    /* justify-items: center; */
}

ul {
    list-style-type: none;
}

.all-rights {
    text-align: center;
}

/* footer section css end */